/* reset de css , siempre presente*/
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

* {
  outline: 1px solid red;
}




html, body {
  min-width: 320px;
  overflow-x: hidden;
}

body {
  background-image: url("../recursos/img/fondo.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


.logo img {
    width: 4.5rem;
    height: auto;
}

.logo h1 {   
  text-align: center;                
    color: red;
    font-family: "BBH Bartle", sans-serif;
}



.logo {
    margin: 1rem;
    padding: 1rem;
    margin-bottom: 0rem;
}



.menuNavegacion {
  border: 0.1rem solid red;
  margin: 2rem;
  width: auto;
  width: fit-content;
  font-family: "Share Tech", sans-serif;
}

.menuNavegacion ul{
  display: flex;
  padding: 1rem;
  gap: 5rem;
  list-style: none;
}

.menuNavegacion ul a {
  font-size: 1.2rem;
  color: black;
}

.gridProductos {
  display: grid;
  grid-template-columns: repeat(4, minmax(12rem, 1fr));
  grid-template-rows: auto;
  margin: 2rem;
  gap: 0.1rem;
  justify-content: center;
  justify-items: center;
}

@media (max-width: 900px) {
  .gridProductos {
    grid-template-columns: repeat(2, minmax(12rem, 1fr));
  justify-content: center;
  gap: 0.1rem;
  }

}

@media (max-width: 576px) {
  .gridProductos {
    grid-template-columns: repeat(1, minmax(12rem, 1fr));
  }
}


/* .contenido {
  margin: 1rem;
} */

.producto {
  width: 12rem;
  height: auto;
  position: relative;
  background-color: #f0f0f0;
}

.producto__imagen {
  width: 12rem;
  height: 10rem;
}

.producto__titulo {
  height: 3rem;
  align-content: center;
  margin-bottom: 0rem;
}
.producto__imagen--foto {
  width: 12rem;
  height: 10rem;
}

.producto__precio {
  color: green;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 0rem;

}

.producto__boton {
  bottom: 1rem;
  position: absolute;
  top: 0rem;
  right: 0rem;
  height: 1.6rem;
}



main {
  text-align: center;
  align-items: center;
}



.text_info {
  font-family: "Jost", sans-serif;
}

.text_info h2{
color: blue;
font-size: 2rem;
}

.text_info h3{
color: blue;
font-size: 1.3rem;
}


.text_info .textParrafo {
  text-align: left;
  margin: 2rem;
}



.text_info .textParrafo ul{
list-style:none
  }

.formularioContacto {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 30rem;
  margin: 2rem auto;
}

