/* reset de css , siempre presente*/
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

/* * {
  outline: 1px solid red;
} */

.menuFont {
  font-size: 1.5rem !important;
}


html, body {
  min-width: 320px;
  overflow-x: hidden;
}

body {
  background-image: url("../recursos/img/fondo.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


.logo img {
    width: 4.5rem;
    height: auto;
}

.logo h1 {   
  text-align: center;                
    color: red;
    font-family: "BBH Bartle", sans-serif;
}



.logo {
    margin: 1rem;
    padding: 1rem;
    margin-bottom: 0rem;
}




.gridProductos {
  display: grid;
  grid-template-columns: repeat(4, minmax(12rem, 1fr));
  grid-template-rows: auto;
  margin: 2rem;
  gap: 1rem !important;
  justify-content: center;
  justify-items: center;
}

@media (max-width: 900px) {
  .gridProductos {
    grid-template-columns: repeat(2, minmax(12rem, 1fr));
  justify-content: center;
  gap: 1.5rem;
  }

}

@media (max-width: 576px) {
  .gridProductos {
    grid-template-columns: repeat(1, minmax(12rem, 1fr));
  }
}


/* .contenido {
  margin: 1rem;
} */

.producto {
  width: 12rem;
  height: auto;
  position: relative;
  background-color: #f0f0f0;
}

.producto__imagen {
  width: 12rem;
  height: 10rem;
}

.producto__titulo {
  height: 3rem;
  align-content: top;
  margin-bottom: 0rem;
}
.producto__imagen--foto {
  width: 12rem;
  height: 10rem;
}

.producto__precio {
  color: green;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 0rem;

}

.producto__boton {
  bottom: 1rem;
  position: absolute;
  top: 0rem;
  right: 0rem;
  height: 1.6rem;
}



main {
  text-align: center;
  align-items: center;
}



h2{
color: blue !important;
}

h3{
color: blue!important;
font-size: 1.3rem;
align-items: left;
}

.text_info {
    font-family: "Jost", sans-serif;
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: left !important;
  justify-content: center !important;
  margin: 1rem !important;
}

.text_info .textParrafo {
  text-align: left;
  position: relative !important;
  margin: 0.5rem !important;
}



.text_info .textParrafo ul{
list-style:none
  }

/* .formularioContacto {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 30rem;
  margin: 2rem auto;
} */

.contactanos  {
 display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem !important;
}

.formularioContacto {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
  width: 20rem !important;
  grid-template-rows: auto;
}

.formularioContacto__campo {
  display: flex;
  align-items: center;
}

.formularioContacto__campo label{
width: 5rem;
text-align: left;
}

.piePagina {
  display: flex ;
  flex-direction: row;
  justify-content: center ;
  margin-top: 3rem;
}

.accordion-item{
  background-color: rgb(255, 255, 255,0.1) !important; /* negro 60% */
}

.accordion-button {
  background-color: rgba(0, 200, 255, 0.2) !important; /* negro 60% */
}