@use "../utils/variables" as v;



// Mixins boton
@mixin boton {
  position: absolute;
  top: v.$producto__boton-top;
  right: v.$producto__boton-right;
  height: v.$producto__boton-height;
  background-color: v.$producto__boton-background-color;
  border-radius: v.$producto-boton-border-radius;
  border: none;
}
@mixin boton-hover {
  &:hover {
    background-color: v.$producto-boton-color-hover;
    transform: scale(v.$producto-boton-scale-hover);
    transform-origin: v.$producto-boton-transform-origin-hover;
  }
}


// responsive
@mixin respond($bp) {
  @media (max-width: map-get(v.$breakpoints, $bp)) {
    @content;
  }
}