@use "../utils/mixins" as mx;

.gridProductos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  margin: 2rem;
  gap: 1.5rem;
  justify-content: center;
  justify-items: center;
}