@import url("https://fonts.googleapis.com/css2?family=BBH+Bartle&family=Jost:ital,wght@0,100..900;1,100..900&family=Share+Tech&display=swap");

h2, h3{
color: blue !important;
}

h3{
font-size: 1.3rem;
align-items: left;
}

h4 {
    font-size: 0.1;
}