.contactanos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem !important;
  .formularioContacto {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    width: 20rem !important;
    grid-template-rows: auto;
    .formularioContacto__campo {
      display: flex;
      align-items: center;
      label {
        width: 5rem;
        text-align: left;
      }
    }
  }
}
