.logo {
  margin: 1rem;
  padding: 1rem;
  margin-bottom: 0;
  
  h1 {
    text-align: center;
    color: red;
    font-family: "BBH Bartle", sans-serif;
  }

  img {
    width: 4.5rem;
    height: auto;
  }
}